<div class="container pt-2 ">
    <div class="row  no-gutters" style="overflow: hidden">
        <div [ngClass]="{'header-full-width': headerFullWidth }" class="col-md-8 mx-auto form ">
            <header class="d-flex w-100 justify-content-between align-items-center align-content=center mb-2">
                <h4 class="dark-red-color text-bolder m-0">Covid-19 </h4>
                <div>

                    <button (click)="comingSoon()" mat-icon-button class="dark-red-color">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <button (click)="openDialog()" mat-icon-button class="ml-3">
                        <mat-icon  class="dark-red-color">more_vert</mat-icon>
                    </button>
                </div>
            </header>
            <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm.value.searchInput)">
                <div class="input-group mb-3 shadow">
                    <div *ngIf="searching" class="input-group-prepend">
                        <span class="input-group-text dark-gray-bg">
                        <div mat-icon-button class="bg-dark" (click)="closeSearch()" >
                        <mat-icon  class="dark-red-color">keyboard_backspace</mat-icon>
                    </div>
                    </span>
                    </div>
                    <input type="text" [ngClass]="{'pl-4': !searching }" formControlName="searchInput" (click)="search()" (input)="searchType(searchForm.value.searchInput)" class="form-control dark-gray-bg border-0" placeholder="Search country">
                    <div class="input-group-append">
                        <span class="input-group-text dark-gray-bg">
                        <mat-icon *ngIf="!searchTyping" class="dark-red-color">keyboard_voice</mat-icon>
                        <button  *ngIf="searchTyping" mat-icon-button class="bg-dark" >
                            <mat-icon class="dark-red-color ml-1">send</mat-icon>
                        </button>
                    </span>
                    </div>
                </div>
            </form>
        </div>



        <div class="col-md-8 mx-auto mt-3 ">
            <div *ngIf="!searching" class="row white-color  global m-mobile-0">
                <div class="col-4 ">
                    <div class=" dark-gray-bg border-radius-8 h-100">
                        <span class="d-block mb-2">Global</span>
                        <h3>Cases</h3>
                        <p class=" text-bolder">{{cases | number:'2.'}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="  dark-gray-bg border-radius-8 h-100">
                        <span class="d-block mb-2">Global</span>
                        <h3>Deaths</h3>
                        <p class="dark-red-color text-bolder">{{deaths | number:'2.'}}</p>
                    </div>
                </div>
                <div class="col-4 ">
                    <div class="  dark-gray-bg border-radius-8 h-100">
                        <span class="d-block mb-2">Global</span>
                        <h3>Recovered</h3>
                        <p class="green-color text-bolder">{{recovered | number:'2.'}}</p>
                    </div>
                </div>
            </div>

            <div class="row country mt-5 m-mobile-0">
                <div class="col-12 mb-3">
                    <div class="d-flex justify-content-between  white-color">
                        <p class="m-0">Countries</p>
                        <div>
                            <button mat-icon-button>
                               
                                <mat-icon class="text-muted">more_horiz</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- <div *ngIf="casesByCountries.length < 1 else showCoutries" class="col-6 mx-auto text-center"> -->
                <div *ngIf="noSearchMatch && casesByCountries.length > 0" class="col-12 mx-auto mt-3 mb-5 text-center">
                    <p>No match for "{{searchForm.value.searchInput}}"</p>
                </div>
                <div *ngIf="(getingCoutries || submitted) else showCoutries" class="col-6 mx-auto text-center">
                    <div>
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <p class="text-bolder">Just a second..</p>
                    </div>
                </div>


                <ng-template #showCoutries>
                    <div *ngIf="casesByCountries.length < 1 else showManCoutries" class="col-6 mx-auto text-center">
                        <p class="mt-5 text-bolder">Oops..!! Are you offline??</p>
                        <button (click)="getCountries()" class="dark-gray-bg dark-red-color" mat-raised-button colo="warn">Reload <mat-icon>refresh</mat-icon></button>
                    </div>
                    <ng-template #showManCoutries>
                        <div *ngFor="let casesByCountry of casesByCountries" class=" col-lg-4 col-xl-4 mb-4">
                            <mat-card class=" dark-gray-bg border-radius-8">
                                <mat-card-header class="white-color">
                                    <div mat-card-avatar [ngStyle]="{'background-image':'url('+getCountry(casesByCountry.country)+')'}" class="example-header-image bg-dark"></div>
                                    <mat-card-title>{{casesByCountry.country}}</mat-card-title>

                                    <mat-card-subtitle>{{date | date }}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <div class="body">

                                        <p class="">Total Cases:
                                            <span *ngIf="casesByCountry.cases > 1000 else showTC" class="ml-2 text-bolder">
                                        {{casesByCountry.cases | number:'2.'}}
                                    </span>
                                            <ng-template #showTC>
                                                <span class="ml-2 text-bolder">
                                            {{casesByCountry.cases}}
                                        </span>
                                            </ng-template>
                                        </p>
                                        <p class=" ">Active Cases:
                                            <span *ngIf="casesByCountry.active >= 1000 else showAC" class="ml-2 text-bolder">
                                            {{casesByCountry.active | number:'2.'}}
                                        </span>
                                            <ng-template #showAC>
                                                <span class="ml-2 text-bolder">
                                                {{casesByCountry.active}}
                                            </span>
                                            </ng-template>
                                        </p>

                                        <p class=" ">Recovered Cases:
                                            <span *ngIf="casesByCountry.recovered >= 1000 else showR" class="green-color ml-2 text-bolder">
                                            {{casesByCountry.recovered | number:'2.'}}
                                        </span>
                                            <ng-template #showR>
                                                <span class="green-color ml-2 text-bolder">
                                                {{casesByCountry.recovered}}
                                            </span>
                                            </ng-template>
                                        </p>


                                        <p class=" ">Today Cases:
                                            <span *ngIf="casesByCountry.todayCases >= 1000 else showNC" class="ml-2 text-bolder text-warning">
                                            +{{casesByCountry.todayCases | number:'2.'}}
                                        </span>
                                            <ng-template #showNC>
                                                <span class="ml-2 text-bolder text-warning">
                                            +{{casesByCountry.todayCases}}
                                        </span>
                                            </ng-template>
                                        </p>


                                        <p class=" ">Critical condition:
                                            <span *ngIf="casesByCountry.critical >= 1000 else showCC" class="ml-2 text-bolder ">
                                            {{casesByCountry.critical | number:'2.'}}
                                        </span>
                                            <ng-template #showCC>
                                                <span class="ml-2 text-bolder">
                                            {{casesByCountry.critical}}
                                        </span>
                                            </ng-template>
                                        </p>

                                        <p class=" ">Today Deaths:
                                            <span *ngIf="casesByCountry.todayDeaths >= 1000 else showTD" class="ml-2 dark-red-color text-bolder ">
                                            {{casesByCountry.todayDeaths | number:'2.'}}
                                        </span>

                                            <ng-template #showTD>
                                                <span class="ml-2 dark-red-color text-bolder">
                                            {{casesByCountry.todayDeaths}}
                                            </span>
                                            </ng-template>
                                        </p>

                                        <!-- <p class=" ">New Deaths: <span class="red-color ml-2 text-bolder">+{{casesByCountry.todayDeaths }}</span></p> -->
                                        <p class=" ">Total Deaths:
                                            <span *ngIf="casesByCountry.deaths >= 1000 else showTOD" class="ml-2 dark-red-color text-bolder ">
                                            {{casesByCountry.deaths | number:'2.'}}
                                        </span>

                                            <ng-template #showTOD>
                                                <span class="ml-2 dark-red-color text-bolder">
                                            {{casesByCountry.deaths}}
                                        </span>

                                            </ng-template>
                                        </p>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </ng-template>
                </ng-template>

            </div>

        </div>

    </div>
</div>